==
<head>
    <meta charset="UTF-8">

    <title>Rint Network - Private, Secure Communication</title>

    <meta id="viewport" name="viewport" content="width=device-width"/>

    <meta name="description" content="Rint Network is free and open-source project for enabling anonymous, encryption & communication by directing Internet traffic through a worldwide, volunteer overlay network consisting of more than ten thousand relays in order to conceal a user's location and usage from anyone conducting network surveillance or traffic analysis."/>
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="rint network, rint, RNT, tron, trx, tron network, tron foundation, encryption, anonymous, network, open-source"/>

        <meta property="og:type" content="website"/>

            <meta property="og:image" content="{{ 'assets/img/main.png'|theme }}"/>
            <meta name="twitter:card" content="{{ 'assets/img/main.png'|theme }}"/>
            <meta name="twitter:image" content="{{ 'assets/img/main.png'|theme }}"/>

        <meta property="og:url" content="https://rint.network/">
        <meta property="og:title" content="Rint Network - Private, Secure Communication"/>
        <meta property="og:description" content="Rint Network is free and open-source project for enabling anonymous, encryption & communication by directing Internet traffic through a worldwide, volunteer overlay network consisting of more than ten thousand relays in order to conceal a user's location and usage from anyone conducting network surveillance or traffic analysis."/>

    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="{{ 'assets/img/apple-touch-icon-152x152.png'|theme }}"/>
    <link rel="icon" type="image/png" href="{{ 'assets/img/favicon-32x32.png'|theme }}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{ 'assets/img/favicon-16x16.png'|theme }}" sizes="16x16"/>
    <link rel="shortcut icon" href="{{ 'assets/img/favicon.ico'|theme }}" type="image/x-icon"/>
    <meta name="application-name" content="Rint Network"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="{{ 'assets/img/mstile-144x144.png'|theme }}"/>

    <script type="text/javascript" src="{{ 'assets/js/mobile-detect.js'|theme }}"></script>

    <script>
        if ('scrollRestoration' in history) {
            // Back off, browser, I got this...
            history.scrollRestoration = 'manual';
        }

        var positionStickySupport = function () {
            var el = document.createElement('a');
            var mStyle = el.style;

            mStyle.cssText = "position:sticky;position:-webkit-sticky;position:-ms-sticky;";

            return mStyle.position.indexOf('sticky') !== -1;
        }();

        var isMac = window.navigator.userAgent.indexOf('Mac') != -1;
        var ieLTE10 = (!!window.ActiveXObject && +(/msie\s(\d+)/i.exec(navigator.userAgent)[1])) || NaN;
        var ie11 = navigator.userAgent.indexOf('Trident/') != -1 && (navigator.userAgent.indexOf('rv:') != -1 || navigator.appName.indexOf('Netscape') != -1);
        var isIE = ieLTE10 || ie11;
        var isEdge = /Edge\/\d./i.test(navigator.userAgent);
        var isFF = navigator.userAgent.toLowerCase().indexOf('firefox') > -1;

        document.documentElement.className += ' ' + (positionStickySupport ? 'isSticky' : 'isNotSticky');
        document.documentElement.className += ' ' + (isMac ? 'isMac' : 'isNotMac');
        document.documentElement.className += ' ' + (isEdge ? 'isEdge' : 'isNotEdge');
        document.documentElement.className += ' ' + (isIE ? 'isIE' : 'isNotIE');
        document.documentElement.className += ' ' + (isFF ? 'isFF' : 'isNotFF');

        if (window.screen.width < 375) {
            document.getElementById('viewport').setAttribute('content', 'width=375');
        }
    </script>

    <link rel="stylesheet" href="{{ 'assets/css/main.css'|theme }}">

</head>