==
<!doctype html>
<html lang="en">
{% partial "head" %}
<body class="">

<div class="Content">

{%partial "header" %}

    <div class="Content-body">
    <main class="Section Clients">
        <div class="Clients-content"  data-theme="light">
            <h1 class="Clients-header" data-scroll data-scroll-offset="40"><span>Rint Network Documentation</span></h1>
            <div class="Clients-description Clients-description--4-lines" data-scroll data-scroll-offset="40">
                <span data-index="1"> Welcome to the Rint Network. Find everything you need </span>
                <span data-index="2"> to start contributing to Rint Network, building your own </span>
                <span data-index="3"> DApps and working with any one of the projects in The Rint Network. </span>
            </div>

            <div class="Clients-clients-wrapper">
                    <div class="Clients-client" data-scroll data-scroll-offset="0">
                        <span class="Clients-client-title">General</span>
                        <span class="Clients-client-description">General information about Rint Network.</span>
                    </div>
                    <div class="Clients-client" data-scroll data-scroll-offset="0">
                        <span class="Clients-client-title">Announcements</span>
                        <span class="Clients-client-description">News and updates regarding Rint Network.</span>
                    </div>
                    <div class="Clients-client" data-scroll data-scroll-offset="0">
                        <span class="Clients-client-title">Daily Rewards</span>
                        <span class="Clients-client-description">Information pertaining to the daily rewards.</span>
                    </div>
                    <div class="Clients-client" data-scroll data-scroll-offset="0">
                        <span class="Clients-client-title">RNT Utility</span>
                        <span class="Clients-client-description">RNT powers and incentivizes participation in the Rint Network.</span>
                    </div>
                    
</div>
</div>            
</div>
</div>   

</main>
    </div>
</div>


    <div class="dark-theme"  data-theme="dark">
        
{%partial "footer"%}

    </div>

<script>
        var mobileDetect = new MobileDetect(window.navigator.userAgent);
        var phone = mobileDetect.phone();
        var tablet = mobileDetect.tablet();

        window.app = {
            data: {},
            cache: {},
            state: {},
            settings: {
                staticUrl: 'rint.network',
                isDesktop: !phone && !tablet,
                isMobile: !!(phone || tablet),
                isTablet: !!tablet,
                isPhone: !!phone,
                isIE: isIE,
                isEdge: isEdge,
                isFF: isFF,
                phonePortrait: 666, //should be synhronized with conts.less

                //css const shares same settings
                animationDuration: 1000, //ms
                animationDelay: 60 //ms, sequental items show delay
            }
        };

        document.documentElement.className += ' ' + (app.settings.isDesktop ? 'isDesktop' : 'isNotDesktop');
        document.documentElement.className += ' ' + (!app.settings.isDesktop ? 'isMobile' : 'isNotMobile');
        document.documentElement.className += ' ' + (app.settings.isTablet ? 'isTablet' : 'isNotTablet');
        document.documentElement.className += ' ' + (app.settings.isPhone ? 'isPhone' : 'isNotPhone');
</script>




<script src="{{ 'assets/js/main.js'|theme }}" async></script>

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Rint Network - Private, Secure Communication",
        "alternateName": "Rint Network",
        "url": "https://rint.network/"
    }
</script>
</body>
</html>